/* =Common
 ************************************************/

body
  +chaparral
  color: #0d0d0d

h1
  +chaparral
  font-size: $f22

hr
  border: 0 none

a
  text-decoration: none
  white-space: no-wrap
  +transition(all, .2s)

/* =Layout
 ************************************************/

.container
  overflow: hidden
  width: 1000px
  margin: 0 auto

/* =Headers
 ************************************************/

#page-title
  padding: 40px 0
  text-align: center
  border-bottom: 1px solid #cfcfcf

  h1
    font-size: $f22
    font-style: italic