/* =Header
 ************************************************/

header[role="banner"]
  color: #fff
  text-align: center
  background-color: $grey
  +at2x(bg-pattern-ribbon, 200px, 200px)
  background-repeat: repeat
  background-position: center top
  background-attachment: fixed

  a
    color: #fff

  .logo
    display: inline-block
    background-repeat: no-repeat
    background-position: center top

    img
      width: auto
      height: 106px

    strong
      display: block
      margin-top: 15px
      +futura-wide
      font-size: $f13

  hr
    display: block
    width: 100px
    height: 2px
    margin: 20px auto 0 auto
    background: rgba(255,255,255,.1)
    +box-shadow(0 1px 3px rgba(0,0,0,.2))

  nav[role="navigation"]
    overflow: hidden
    display: block
    margin-top: 20px
    text-align: center

    li
      display: inline-block
      margin: 0 10px
      +futura
      font-size: $f18
      font-weight: 500
      text-shadow: 0 1px 2px rgba(0,0,0,.2)
      letter-spacing: 0.1em

      a
        color: #999
        text-shadow: 0 1px 3px rgba(0,0,0,.3)

        &:hover
          color: #fff

      &.active
        a
          color: #fff

/* =Header responsiveness
 ************************************************/

/* =Mobile */

@media (max-width: 499px)
  header[role="banner"]
    .logo
      img
        width: 54px
        height: 62px

      strong
        margin-top: 10px

    hr
      margin-top: 10px

    nav[role="navigation"]
      margin-top: 10px

      li
        margin: 0 5px





