/* =Reset */

*
  margin: 0
  padding: 0

/* =Mixins
 *****************************************************************************/

@mixin futura
  font-family: Futura Std, Helvetica Neue, Helvetica, Arial, sans-serif
  font-weight: 500

@mixin garamond
  font-family: "Adobe Garamond Pro", Georgia, Times, serif

@mixin helvetica
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif

/* =Colors */

$red:     #ff4100
$beige:   #f4f3ea
$lgrey:   #e5e5e5
$dgrey:   #1a1a1a

/* =Font-size converter */

@mixin font-size($sizeValue)
  font-size: ($sizeValue/1.6) + em

/* =@2x converter */

@mixin at2x($image_name, $w: auto, $h: auto, $extention: '.png')
  background-image: image_url($image_name + $extention)
  $x2img : $image_name + '@2x' + $extention

  @media all and (-webkit-min-device-pixel-ratio : 1.5)
    background-image: image_url($x2img)
    background-size: $w $h

/* =General
 *****************************************************************************/

body
  font-size: 100%
  @include garamond
  -webkit-font-smoothing: antialiased
  -webkit-transform: translateZ(0)

h1
  @include futura

.container
  width: 980px
  margin: 0 auto

.textlink
  display: inline-block
  color: $red
  font-style: italic
  text-decoration: none
  border-bottom: 3px solid rgba(255,65,0,.2)
  transition: all .3s

  &:hover
    border-color: rgba(255,65,0,1)

/* =Header
 *****************************************************************************/

header[role="banner"]
  padding: 50px 0
  text-align: center
  color: #fff
  background: $dgrey

  .logo
    display: block
    width: 150px
    height: 150px
    margin: 0 auto
    background: url(/images/logo.png) no-repeat center center

  em
    display: inline-block
    padding-top: 20px
    opacity: .8

  h1
    margin-top: 30px
    font-size: $fs40
    text-transform: uppercase
    letter-spacing: .25em
    color: #fff

/* =Content
 *****************************************************************************/

section[role="main"]

  .info
    padding: 35px 0
    text-align: center
    border-bottom: 1px solid $lgrey

    h2
      display: inline-block
      color: $dgrey
      @include font-size(2.6)
      font-weight: normal

    a
      @include font-size(2.6)

  #company-list
    overflow: hidden
    border-left: 1px solid $lgrey

    li
      position: relative
      display: block
      float: left
      text-align: center
      border-bottom: 1px solid

      img
        display: inline-block