/* =Form
 ************************************************/

.field
  overflow: hidden
  width: 100%
  margin-bottom: 10px

fieldset
  label
    margin-top: 14px
    +futura-wide
    font-size: $f12
    font-weight: normal

    &.left,
    &.right
      display: block
      float: left
      width: 45%

  .middleColumn
    width: 55%
    float: left

    input
      width: 100%

form input
  &[type="text"],
  &[type="password"],
  &[type="email"]
    display: block
    float: left
    padding: 10px
    +chaparral
    font-size: $f18
    background: rgba(255,255,255,.9)
    +border-radius(2px)

    &:focus
      background: #fff

  &.logo
    margin-top: 16px

.error-messages
  color: #b94a48
  padding: 10px

/* =Application form
 ************************************************/

#ApplicationForm
  margin-top: 40px
  padding: 30px
  color: #fff
  background-color: $grey
  +at2x(bg-pattern-ribbon, 200px, 200px)
  background-repeat: repeat
  background-position: center center
  +border-radius(3px)

  .mams-border
    width: 60%
    margin: 25px auto

  .send
    display: inline-block



